<div class="filters-content">
    <div class="filters">
        <div class="filter">
            <!-- <p class="p-head">Default Search</p> -->
            <select class="select" id="" value="">
                <option selected disabled>Field Formation</option>
                <option value="all">All</option>
                <option value="dikhan">DG LG</option>
                <option value="bannu">LCB</option>
                <option value="kohat">WSSCs</option>
                <option value="kohat">UADAs</option>
            </select>
        </div>
        <div class="filter gap">
            <!-- <p class="p-head">Select from the Dropdowns</p> -->
            <select class="select" id="" value="">
                <option selected disabled>Division</option>
                <option value="all">All</option>
                <option value="dikhan">DI Khan</option>
                <option value="bannu">Bannu</option>
                <option value="kohat">Kohat</option>
                <option value="peshawar">Peshawar</option>
                <option value="mardan">Mardan</option>
                <option value="malakand">Malakand</option>
                <option value="hazara">Hazara</option>
            </select>
            <select class="select" id="" value="">
                <option selected disabled>Distric</option>
                <option value="all">All</option>
                <option value="dikhan">Peshawar</option>
                <option value="bannu">Mardan</option>
                <option value="kohat">Charsadda</option>
            </select>
            <select class="select" id="" value="">
                <option selected disabled>Tehsil</option>
                <option value="all">All</option>
                <option value="dikhan">Tehsil 1</option>
                <option value="bannu">Tehsil 2</option>
                <option value="kohat">Tehsil 3</option>
            </select>
            <select class="select" id="" value="">
                <option selected disabled>NC / VC</option>
                <option value="all">All</option>
                <option value="dikhan">VC 1</option>
                <option value="bannu">VC 2</option>
                <option value="kohat">NC 1</option>
                <option value="peshawar">NC 1</option>
            </select>
        </div>
        <div class="filter">
            <!-- <p class="p-head">Write & Search</p> -->
            <form action="https://google.com/search" method="get" target="_blank" class="search-box">
                <input type="text" placeholder="Write & Search"/>
                <button type="submit"><span class="material-symbols-outlined search-icon">search</span></button>
            </form>
        </div>
    </div>
</div>