<footer>
    <div class="footer-content">
        <div class="footer-about">
            <p>About: The system is designed to facilitate Local Govt. each field formation to show them with their basic details on the map.</p>
        </div>
        <div class="footer-copyright">
            <div class="copyright">
                <small>Copyright &copy; 2023 Local Government, Election & Rural Development Department, KP. All rights reserved.</small>
            </div>
            <div class="credit-info">
                <small>Made with <span class="material-symbols-outlined heart">favorite</span> By <a href="https://github.com/RasheedAhmad1" target="_blank" class="text-underline">rasheedahmad1</a></small>
            </div>
        </div>
    </div>
</footer>