<main>
    <div class="map-content">
        <div class="map-headline">
            <h4>Heading - Based upon user selection</h4>
        </div>
        <div class="map-canvas">
            <p>Flot Me: show only when the user selected filters.</p>
            <p>You're here,<span> name of Field Formation</span></p>
        </div>
    </div>
</main>