<!DOCTYPE html>
<html lang="en">
    <!-- ==== Head ==== -->
    <%- include('../partials/head.ejs'); %>
    <body>
        <!-- ==== Header ==== -->
        <%- include('../partials/header.ejs'); %>

        <h1>404. Page not found.</h1>

        <!-- ==== Footer ==== -->
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>