<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
    <body>
        <!-- ==== Header ==== -->
        <%- include('../partials/header.ejs'); %>

        <h1>About Us</h1>

        <!-- ==== Footer ==== -->
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>