<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
    <body>
        <!-- ==== Header ==== -->
        <%- include('../partials/header.ejs'); %>

        <!-- ==== Map Canvas ==== -->
        <%- include('../partials/main.ejs'); %>

        <!-- ==== Footer ==== -->
        <%- include('../partials/footer.ejs'); %>

        <!-- Find Me - Get Geolocation coordinates -->
        

        <!-- Scaled -->
        <!-- <div id="container">
            <div id="mapCanvas"></div>
            <div id="btnMapMe">
                <button id="mapMe">Map Me</button>
            </div>
            <div id="myLocation"></div>
        </div> -->
    </body>
</html>